.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}

.bags {
    display: flex;
    align-items: flex-end;
    height: 16rem;
    background-color: #2E4158;
    box-shadow: 10px 10px rgba(51, 51, 51, 0.418);
    color: white;
    /* border-radius: 90px 90px 90px 90px; */
    /* padding: 15px; */
}

.bags:hover {
    background: linear-gradient(#e66465, #9198e5);
}

.bags-name {
    font-size: 130%;
    /* margin: 5px; */
    text-shadow: 5px 5px 5px rgba(20, 20, 20, 0.418);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.534);
}

.bags-volume {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    position: relative;
    text-align: right;
    width: 100%;
}

.home-name {
    font-size: 250%;
    margin: 5px;
    font-family: 'Staatliches', cursive;
    padding: 20px;
    text-shadow: 5px 5px 5px rgba(20, 20, 20, 0.418);
}

.bags-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about {
	background: linear-gradient(#2E4158, #111111);
    color: white;
}

.about, .col.l3 {
    margin: 20px !important;
}

.row .col {
    padding: 0;
}