.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}

.bags {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    background-color: #2E4158;
    box-shadow: 10px 10px rgba(51, 51, 51, 0.418);
    color: white;
    border-radius: 10px 10px 0 10px;
}

.bags:hover {
    background: linear-gradient(#e66465, #9198e5);
}

.bags-name {
    font-size: 130%;
    margin: 5px;
}

.home-name {
    font-size: 400%;
    margin: 5px;
    font-family: 'Staatliches', cursive;
}

.bags-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hover {
    z-index: 2;
}

.hover:hover {
    background: linear-gradient(#e66465, #9198e5);
}

.about {
    background-color: rgb(119, 228, 161);
    color: white;
}

.about, .col.l3 {
    margin: 15px !important;
}

.row .col {
    padding: 0;
}