.container {
    width: 100%;
}

.review-content {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}

h1 {
    font-size: 7rem;
    font-family: 'Staatliches', cursive;
    text-shadow: 10px 10px rgba(51, 51, 51, 0.418);
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 2rem;
    font-family: 'Staatliches', cursive;
}

@media only screen and (min-width: 360px){
    h1 {
        font-size: 5rem;
        font-family: 'Staatliches', cursive;
        text-shadow: 10px 10px rgba(51, 51, 51, 0.418);
    }
}